* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: aliceblue;             /* background-color of the dashboard */
    font-family: poppins, sans-serif;
    height: 100%;
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #faf9f9;       /* background-color of navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo p span{
    color: #0909cc;                /* color of "Me" in logo */
}
.logo p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(13, 5, 127);         /* color of "ReMind" in logo */
}

.addDocument button {
    padding: 8px 16px;
    background-color: #0909cc;      /* background-color of add document button */
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 50rem;
    cursor: pointer;
    font-size: 16px;
}

.addDocument button:hover {
    background-color: #0707a3;           /* hover background-color of add document button */
}

.setting button {
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    font-size: 1.5rem;
    border: none;
}   

.setting button:hover {
        scale: 1.2;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quickStatus {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quickStatus h2 {
    text-align: center;
    padding: 40px;
    color: black;         /* color of Quick Status heading */
    font-size: 28px;
    /* background-color: yellow;    background-color of Quick Status heading */

}

.statusCards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.statusCards .valid, .statusCards .expired, .statusCards .expiringSoon {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.statusCards .valid h3 {
    color: rgb(8, 65, 8);              /* color of valid status */
}

.statusCards .expired h3 {
    color: rgb(75, 2, 2);             /* color of expired status */
}

.statusCards .expiringSoon h3 {
    color: rgb(84, 61, 8);           /* color of expiring soon status */
}

.statusCards .valid {
    background-color: #d4edda;        /* background-color of valid status card */
}
.statusCards .expired {
    background-color: #f8d7da;       /* background-color of expired status card */
}
.statusCards .expiringSoon {
    background-color: #fff3cd;       /* background-color of expiring soon status card */
}